h1 {
 font-size: 42px;
 font font-family: comic;
}

p{
    font-size: 24px;
    color: aqua;
}

.blue{
    color:blue;

}

.underline{
    text-decoration:underline;
}

h2,h3{
    color:blanchedalmond;
}